In [89]:
import hsdata as hs
import pandas as pd
import datetime
import zillowdata as zd
import census_helper as cd
import geopy.distance
import numpy as np
import emailer
import pickle
import glob
import os
import json
from collections import Counter
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon
from geopandas import *
import requests
import re
from scipy.spatial import distance

In [90]:
city = 'Dane'

with open('cities/' + city.lower(), 'rb') as f:
    city_data = pickle.load(f)
    
# get the listing data
df_hs = hs.getHsData(city)

# remove commercial and land listings
df_hs = df_hs[(df_hs['propertyType2']!=128) & (df_hs['propertyType2']!=32)]

df_hs = df_hs[['contingent', 'units', 'beds', 'baths', 'sqft', 'rent',
       'list_price', 'address', 'zip', 'urls', 'listings', 'lats', 'longs',
       'year_built', 'street_address', 'city_state', 'list_date',
       'original_price', 'propertyType', 'propertyType2']]

In [ ]:
# rewrite census helper

In [125]:
# join two mapping files

zip_to_tract = pd.read_excel('census_data/tract_to_zip.xlsx', converters={'zip':str, 'tract':str})
zip_to_tract.columns = ['zip', 'geoid']
county_to_zip = pd.read_csv('census_data/zip_code_to_county_name.csv', converters={'ZIP':str})
wi_county_to_zip = county_to_zip[county_to_zip['STATE'] == 'WI']
wi_county_to_zip.reset_index(drop=True, inplace=True)
wi_county_to_zip = wi_county_to_zip[['ZIP', 'COUNTYNAME']]
wi_county_to_zip.columns = ['zip', 'county']
wi_county_to_zip['county'] = [wi_county_to_zip['county'].values[i].split(' County')[0] for i in range(len(wi_county_to_zip))]

tract_zip_county_df = wi_county_to_zip.join(zip_to_tract.set_index('zip'), on = 'zip')
tract_zip_county_df.reset_index(drop=True, inplace=True)
tract_zip_county_df.columns = ['zip', 'county', 'geoid']

tract_zip_county_df.to_excel('census_data/wi_tract_zip_county_state_map.xlsx', index = False)

In [21]:
# create df of census features for all tracts across all Madison counties

map_df = pd.read_excel('census_data/wi_tract_zip_county_state_map.xlsx')

key_census = 'b868266dc4cd4243cfcb85f360280d1878ec2ebf'

headers={'accept':'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8',
         'accept-encoding':'gzip, deflate, sdch, br',
         'accept-language':'en-GB,en;q=0.8,en-US;q=0.6,ml;q=0.4',
         'cache-control':'max-age=0',
         'upgrade-insecure-requests':'1',
         'user-agent':'Chrome/56.0.2924.87'}

# WI tract shapefiles
with open('census_data/tract_shape/tl_2020_55_all.json') as f:
    tract_geo_wi = json.load(f)
    
n = len(tract_geo_wi['features'])

tract_ids = np.array([tract_geo_wi['features'][i]['properties']['TRACTCE10'] for i in range(n)])
county_ids = np.array([tract_geo_wi['features'][i]['properties']['COUNTYFP10'] for i in range(n)])

tract_polys = []
for i in range(n):
    poly_inp = tract_geo_wi['features'][i]['geometry']['coordinates'][0]
    if type(poly_inp[0][0]) == list:
        poly_inp = tract_geo_wi['features'][i]['geometry']['coordinates'][0][0]
    polygon = Polygon(poly_inp)
    tract_polys.append(polygon)

In [115]:
# combine census features

df_pop_gr = pd.read_excel('census_data/pop_growth.xlsx')
df_other = pd.read_excel('census_data/other.xlsx')

df_both = pd.concat([df_pop_gr, df_other.iloc[:,1:]], axis = 1)

In [116]:
# save + import census tract data file

df_both.to_excel('census_data/wi_tract_feature_file.xlsx')

In [113]:
df_census_tract_all = pd.read_excel('census_data/wi_tract_feature_file.xlsx')

In [91]:
# spatial join for address census tract columns 

geo_col = []
for i in range(len(df_hs)):
    lat = df_hs['lats'].values[i]
    long = df_hs['longs'].values[i]
    point = Point(long, lat)
    geo_col.append(point)
df_hs['point'] = geo_col

tract_df = pd.DataFrame()
tract_df['tract'] = tract_ids
tract_df['tract_poly'] = tract_polys

# join on tract census features: ADD CENSUS DATA TO TRACT DF
hs_gdf = GeoDataFrame(df_hs, crs="EPSG:4326", geometry='point')
tract_gdf = GeoDataFrame(tract_df, crs="EPSG:4326", geometry='tract_poly')
joined_df = geopandas.sjoin(tract_gdf, hs_gdf, how="right", op='contains')

df_hs_join = joined_df[['tract', 'index', 'contingent', 'units', 'beds', 'baths', 'sqft', 'rent',
       'list_price', 'address', 'zip', 'urls', 'listings', 'lats', 'longs',
       'year_built', 'street_address', 'city_state', 'list_date',
       'original_price', 'propertyType', 'propertyType2']]

In [92]:
df_hs_join

,tract,index,contingent,units,beds,baths,sqft,rent,list_price,address,...,listings,lats,longs,year_built,street_address,city_state,list_date,original_price,propertyType,propertyType2
0,010901,0,No,NaN,3.0,2.0,1577.0,0.0,399900,"218 Sunshine Lane, Madison, WI",...,100697561,43.058163,-89.566538,2017.0,218 Sunshine Lane,"Madison, WI",2021-02-10,399900,1,1
1,010702,1,No,NaN,1.0,1.5,1145.0,0.0,230000,"10 Glen Brook Way #103, Fitchburg, WI",...,100687437,43.000683,-89.423545,2009.0,10 Glen Brook Way #103,"Fitchburg, WI",2021-02-09,230000,4,4
2,013100,2,No,NaN,3.0,2.0,2160.0,0.0,219900,"2004 Stephanie Court, Black Earth, WI",...,100683830,43.127217,-89.749306,1992.0,2004 Stephanie Court,"Black Earth, WI",2021-02-09,219900,8,8
3,013100,3,No,NaN,3.0,2.0,2160.0,0.0,219900,"2000 Stephanie Court, Black Earth, WI",...,100683440,43.127166,-89.749320,1992.0,2000 Stephanie Court,"Black Earth, WI",2021-02-09,219900,8,8
4,013200,4,No,NaN,3.0,2.0,2237.0,0.0,345000,"6430 River Road, de Forest, WI",...,100690005,43.208085,-89.361485,1960.0,6430 River Road,"de Forest, WI",2021-02-09,345000,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,000600,2150,Yes,NaN,3.0,1.5,1450.0,0.0,260500,"2419 Allied Drive, Madison, WI",...,56580541,43.026129,-89.459568,2020.0,2419 Allied Drive,"Madison, WI",2017-10-16,222760,1,1
2151,000600,2151,No,NaN,4.0,2.0,1601.0,0.0,299765,"2412 Dunns Marsh Terrace, Madison, WI",...,56662399,43.026168,-89.459025,2020.0,2412 Dunns Marsh Terrace,"Madison, WI",2017-10-16,243900,1,1
2152,000600,2152,No,NaN,4.0,2.0,1601.0,0.0,285874,"2414 Dunns Marsh Terrace, Madison, WI",...,56662398,43.026058,-89.459037,2020.0,2414 Dunns Marsh Terrace,"Madison, WI",2017-10-16,236900,1,1
2159,000600,2159,Yes,NaN,2.0,1.0,1016.0,0.0,258662,"2431 Allied Drive, Madison, WI",...,56661658,43.025770,-89.459630,2019.0,2431 Allied Drive,"Madison, WI",2017-10-16,209900,1,1
2182,012502,2182,No,NaN,5.0,4.5,6558.0,0.0,925000,"674 Inverness Street, Oregon, WI",...,52061088,42.918188,-89.415546,2004.0,674 Inverness Street,"Oregon, WI",2017-07-07,1095000,1,1

In [ ]:
# recombine census data at correct order point

# re-run whole pipeline w/ new census helper script

# verify that pickle has census data

In [ ]:
# rewrite rent estimator

In [91]:
# listing df
df_hs['point'] = [(df_hs['lats'].values[i], df_hs['longs'].values[i]) for i in range(len(df_hs))]

# rental df
df = df_hs
df_z = zd.getZData(city)
lats_s, longs_s = list(df_z['lat']), list(df_z['long'])
df_z = df_z.reset_index()
df_z = df_z[['address', 'zip', 'sqft', 'baths', 'beds', 'lat', 'long', 'rent']]
df_z['rent_per_bed'] = df_z['rent']/df_z['beds']
df_z['rent_per_sqft'] = df_z['rent']/df_z['sqft']
df_z['point'] = [(df_z['lat'].values[i], df_z['long'].values[i]) for i in range(len(df_z))]

if list(df_z['point'].values) != []:
    dist_matrix = distance.cdist(list(df_hs['point'].values), list(df_z['point'].values), 'euclidean')

    # k nearest neighbors
    k = 6 

    rent_fs = []
    rent_fb = []
    for i in range(len(df_hs)):
        nn_inds = np.argsort(dist_matrix[i])[:k]

        # sqft
        rent_fs_arr = df_z.iloc[nn_inds]['rent_per_sqft'].values
        rent_fs_arr = rent_fs_arr[np.isfinite(rent_fs_arr)]
        rent_fs_est = np.mean(rent_fs_arr)*df_hs.iloc[i]['sqft']
        rent_fs.append(rent_fs_est)

        # beds
        rent_fb_arr = df_z.iloc[nn_inds]['rent_per_bed'].values
        rent_fb_arr = rent_fb_arr[np.isfinite(rent_fb_arr)]
        rent_fb_est = np.mean(rent_fb_arr)*df_hs.iloc[i]['beds']
        rent_fb.append(rent_fb_est)

    df['rent_estimate_sqft'] = rent_fs
    df['rent_estimate_beds'] = rent_fb
    
else:
    df['rent_estimate_sqft'] = [np.nan]*len(df_hs)
    df['rent_estimate_beds'] = [np.nan]*len(df_hs)

In [ ]:
def stageData(city):
    # get the requested city. Contains data like zipcodes, lat, long areas etc.
    with open('cities/' + city.lower(), 'rb') as f:
        city_data = pickle.load(f)

    # get the listing data
    df_hs = hs.getHsData(city)
    
    # remove commercial and land listings
    df_hs = df_hs[(df_hs['propertyType2']!=128) & (df_hs['propertyType2']!=32)]

    # if units is blank, replace with the implied unit count based on the property type
    df_hs.loc[((df_hs['propertyType2'].isin([1,4,8,64])) & (df_hs['units'].isna())), 'units'] = 1
    addresses, lats, longs = list(df_hs['address']), list(df_hs['lats']), list(df_hs['longs'])
    df_hs = df_hs.reset_index()

    # enable for census data
#     df_c = cd.get_census_df(addresses,lats,longs)
#     df_c = df_c.reset_index()
#     df = pd.concat([df_hs, df_c], axis=1)
    
    df = df_hs
    df_z = zd.getZData(city)
    lats_s, longs_s = list(df_z['lat']), list(df_z['long'])
    df_z = df_z.reset_index()

    rent_fs = []
    rent_fb = []
    for i, address in enumerate(addresses):
        # estimate the rent
        coords_2 = (lats[i], longs[i])

        # get the distances between the property and all properties for which we have data
        dists_s = []
        for k in range(len(df_z['address'].values)):
            coords_1 = (lats_s[k], longs_s[k])
            dists_s.append(geopy.distance.distance(coords_1, coords_2).km)
        
        # sort by distance
        dists = sorted((e,i) for i,e in enumerate(dists_s))
        idx = [x[1] for x in dists[:]]
        rents_s = []
        rents_b = []
        valid_rents = 0
        t = 0
        if len(df_z) > 6:
            max_rents = min(len(df_z), 6)
            while (valid_rents < max_rents):
                # get the rent/sqft for each of the 6 nearest valid neighbor rental properties
                flag = True

                rent = float(df_z['rent'].values[idx[t]])/float(df_z['sqft'].values[idx[t]])
                if rent < .5 or rent > 2.5:
                    flag = False
                    t += 1

                while (flag == False):
                    rent = float(df_z['rent'].values[idx[t]])/float(df_z['sqft'].values[idx[t]])
                    if rent < .5 or rent > 2.5:
                        flag = False
                        t += 1
                    else:
                        flag = True
                rents_s.append(rent)

                # get the rent/bed for each of the 6 nearest neighbor rental properties
                try:
                    rents_b_temp = float(df_z['rent'].values[idx[t]])/float(df_z['beds'].values[idx[t]])
                    rents_b.append(rents_b_temp)
                except ZeroDivisionError:
                    rents_b.append(float(df_z['rent'].values[idx[t]])/(float(df_z['beds'].values[idx[t]]) + 1.0))

                valid_rents += 1
                t += 1

            rent_fs.append(np.mean(rents_s) * df['sqft'][i])
            rent_fb.append(np.mean(rents_b) * df['beds'][i])

        else:
            rent_fs.append(0)
            rent_fb.append(0)
            
    df['rent_estimate_sqft'] = rent_fs
    df['rent_estimate_beds'] = rent_fb

    # Investment metrics
    mortgage = []
    dp_p_close = []
    cf = []
    
    # Geographic specific
    pt_r = 0.024
    dp_r = 0.20
    i_rate = 0.05
    cc = 4000
    maint = 1000
    ins = 800

    for i in range(len(df)):
        mortgage.append(np.round((i_rate/(1-(1+(i_rate/12))**(-1*12*30)))*(df['list_price'].values[i]-dp_r*df['list_price'].values[i])))
        dp_p_close.append(np.round(dp_r*df['list_price'].values[i]+cc))
        cf.append(np.round(12*df['rent'].values[i]-mortgage[i]-(maint+ins+pt_r*df['list_price'].values[i])))

    df['mortgage'] = mortgage
    df['dp+close'] = dp_p_close
    df['1yr CF'] = cf
    df['price_to_rent_est_sqft'] = df['list_price'] / (df['rent_estimate_sqft'] * 12)
    df['price_to_rent_est_beds'] = df['list_price'] / (df['rent_estimate_beds'] * 12)
    df['price_to_rent'] = df['list_price'] / (df['rent'] * 12)

    # formatting/display changes
    df.loc[(df['rent']==0.0), 'rent'] = 'NA'

    columns = ['address', 'zip', 'units', 'list_price', 'rent', 'rent_estimate_beds','rent_estimate_sqft', 'beds', 'sqft', 'year_built', 'contingent', 'baths', 'list_date','original_price', 'mortgage', 'dp+close', '1yr CF', '1yr growth', '3yr growth', '5yr growth', 'unemploy %', 'family %', 'college %', 'poverty %', 'vacancy', 'med_age', 'price_to_rent','price_to_rent_est_sqft','price_to_rent_est_beds']
    df_f = pd.DataFrame()

    df_f['contingent'] = df['contingent']
    df_f['units'] = df['units']
    df_f['beds'] = df['beds']
    df_f['baths'] = df['baths']
    df_f['sqft'] = df['sqft']
    df_f['year_built'] = df['year_built']
    df_f['rent'] = df['rent']
    df_f['rent_estimate_sqft'] = df['rent_estimate_sqft']
    df_f['rent_estimate_beds'] = df['rent_estimate_beds']
    df_f['list_price'] = df['list_price']
    df_f['address'] = df['address']
    df_f['zip'] = df['zip']

    # enable for census data
#     df_f['1yr growth'] = df['1yr growth']
#     df_f['3yr growth'] = df['3yr growth']
#     df_f['5yr growth'] = df['5yr growth']
#     df_f['med_age'] = df['med_age']
#     df_f['unemploy %'] = df['unemploy %']
#     df_f['family %'] = df['family %']
#     df_f['college %'] = df['college %']
#     df_f['vacancy'] = df['vacancy']
#     df_f['poverty %'] = df['poverty %']

    df_f['list_date'] = df['list_date']
    df_f['original_price'] = df['original_price']
    df_f['propertyType'] = df['propertyType2']
    df_f['lat'] = df['lats']
    df_f['lng'] = df['longs']
    df_f['mortgage'] = df['mortgage']
    df_f['dp+close'] = df['dp+close']
    df_f['1yr CF']= df['1yr CF']
    df_f['price_to_rent'] = df['price_to_rent']
    df_f['price_to_rent_est_sqft'] = df['price_to_rent_est_sqft']
    df_f['price_to_rent_est_beds'] = df['price_to_rent_est_beds']

    # rank by actual price to rent ratio
    df_f = df_f[df_f['contingent'] == 'No'].drop(columns='contingent')
    df_f = df_f.sort_values(by='price_to_rent',ascending=True)

    date = datetime.date.today()
    filename_staged = './staged_data/' + city +'_filter_result_' + str(date) + '.pkl'
    df_f.to_pickle(filename_staged)

In [ ]:
# delete every column except census data

In [78]:
df_hs

,index,contingent,units,beds,baths,sqft,rent,list_price,address,zip,...,lats,longs,year_built,street_address,city_state,list_date,original_price,propertyType,propertyType2,point
0,0,No,NaN,3.0,2.0,1577.0,0.0,399900,"218 Sunshine Lane, Madison, WI",53593.0,...,43.058163,-89.566538,2017.0,218 Sunshine Lane,"Madison, WI",2021-02-10,399900,1,1,POINT (-89.56653799999999 43.058163)
1,1,No,NaN,1.0,1.5,1145.0,0.0,230000,"10 Glen Brook Way #103, Fitchburg, WI",53711.0,...,43.000683,-89.423545,2009.0,10 Glen Brook Way #103,"Fitchburg, WI",2021-02-09,230000,4,4,POINT (-89.42354499999999 43.000683)
2,2,No,NaN,3.0,2.0,2160.0,0.0,219900,"2004 Stephanie Court, Black Earth, WI",53515.0,...,43.127217,-89.749306,1992.0,2004 Stephanie Court,"Black Earth, WI",2021-02-09,219900,8,8,POINT (-89.749306 43.127217)
3,3,No,NaN,3.0,2.0,2160.0,0.0,219900,"2000 Stephanie Court, Black Earth, WI",53515.0,...,43.127166,-89.749320,1992.0,2000 Stephanie Court,"Black Earth, WI",2021-02-09,219900,8,8,POINT (-89.74932 43.127166)
4,4,No,NaN,3.0,2.0,2237.0,0.0,345000,"6430 River Road, de Forest, WI",53532.0,...,43.208085,-89.361485,1960.0,6430 River Road,"de Forest, WI",2021-02-09,345000,1,1,POINT (-89.361485 43.208085)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,2150,Yes,NaN,3.0,1.5,1450.0,0.0,260500,"2419 Allied Drive, Madison, WI",53711.0,...,43.026129,-89.459568,2020.0,2419 Allied Drive,"Madison, WI",2017-10-16,222760,1,1,POINT (-89.459568 43.026129)
2151,2151,No,NaN,4.0,2.0,1601.0,0.0,299765,"2412 Dunns Marsh Terrace, Madison, WI",53711.0,...,43.026168,-89.459025,2020.0,2412 Dunns Marsh Terrace,"Madison, WI",2017-10-16,243900,1,1,POINT (-89.459025 43.026168)
2152,2152,No,NaN,4.0,2.0,1601.0,0.0,285874,"2414 Dunns Marsh Terrace, Madison, WI",53711.0,...,43.026058,-89.459037,2020.0,2414 Dunns Marsh Terrace,"Madison, WI",2017-10-16,236900,1,1,POINT (-89.459037 43.026058)
2159,2159,Yes,NaN,2.0,1.0,1016.0,0.0,258662,"2431 Allied Drive, Madison, WI",53711.0,...,43.025770,-89.459630,2019.0,2431 Allied Drive,"Madison, WI",2017-10-16,209900,1,1,POINT (-89.45963 43.02577)
2182,2182,No,NaN,5.0,4.5,6558.0,0.0,925000,"674 Inverness Street, Oregon, WI",53575.0,...,42.918188,-89.415546,2004.0,674 Inverness Street,"Oregon, WI",2017-07-07,1095000,1,1,POINT (-89.41554599999999 42.918188)

In [87]:
joined_df

,index_left,tract,index,contingent,units,beds,baths,sqft,rent,list_price,...,lats,longs,year_built,street_address,city_state,list_date,original_price,propertyType,propertyType2,point
0,654,010901,0,No,NaN,3.0,2.0,1577.0,0.0,399900,...,43.058163,-89.566538,2017.0,218 Sunshine Lane,"Madison, WI",2021-02-10,399900,1,1,POINT (-89.56654 43.05816)
1,507,010702,1,No,NaN,1.0,1.5,1145.0,0.0,230000,...,43.000683,-89.423545,2009.0,10 Glen Brook Way #103,"Fitchburg, WI",2021-02-09,230000,4,4,POINT (-89.42354 43.00068)
2,1039,013100,2,No,NaN,3.0,2.0,2160.0,0.0,219900,...,43.127217,-89.749306,1992.0,2004 Stephanie Court,"Black Earth, WI",2021-02-09,219900,8,8,POINT (-89.74931 43.12722)
3,1039,013100,3,No,NaN,3.0,2.0,2160.0,0.0,219900,...,43.127166,-89.749320,1992.0,2000 Stephanie Court,"Black Earth, WI",2021-02-09,219900,8,8,POINT (-89.74932 43.12717)
4,362,013200,4,No,NaN,3.0,2.0,2237.0,0.0,345000,...,43.208085,-89.361485,1960.0,6430 River Road,"de Forest, WI",2021-02-09,345000,1,1,POINT (-89.36149 43.20808)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,366,000600,2150,Yes,NaN,3.0,1.5,1450.0,0.0,260500,...,43.026129,-89.459568,2020.0,2419 Allied Drive,"Madison, WI",2017-10-16,222760,1,1,POINT (-89.45957 43.02613)
2151,366,000600,2151,No,NaN,4.0,2.0,1601.0,0.0,299765,...,43.026168,-89.459025,2020.0,2412 Dunns Marsh Terrace,"Madison, WI",2017-10-16,243900,1,1,POINT (-89.45902 43.02617)
2152,366,000600,2152,No,NaN,4.0,2.0,1601.0,0.0,285874,...,43.026058,-89.459037,2020.0,2414 Dunns Marsh Terrace,"Madison, WI",2017-10-16,236900,1,1,POINT (-89.45904 43.02606)
2159,366,000600,2159,Yes,NaN,2.0,1.0,1016.0,0.0,258662,...,43.025770,-89.459630,2019.0,2431 Allied Drive,"Madison, WI",2017-10-16,209900,1,1,POINT (-89.45963 43.02577)
2182,1046,012502,2182,No,NaN,5.0,4.5,6558.0,0.0,925000,...,42.918188,-89.415546,2004.0,674 Inverness Street,"Oregon, WI",2017-07-07,1095000,1,1,POINT (-89.41555 42.91819)

,tract,index,contingent,units,beds,baths,sqft,rent,list_price,address,...,listings,lats,longs,year_built,street_address,city_state,list_date,original_price,propertyType,propertyType2
0,010901,0,No,NaN,3.0,2.0,1577.0,0.0,399900,"218 Sunshine Lane, Madison, WI",...,100697561,43.058163,-89.566538,2017.0,218 Sunshine Lane,"Madison, WI",2021-02-10,399900,1,1
1,010702,1,No,NaN,1.0,1.5,1145.0,0.0,230000,"10 Glen Brook Way #103, Fitchburg, WI",...,100687437,43.000683,-89.423545,2009.0,10 Glen Brook Way #103,"Fitchburg, WI",2021-02-09,230000,4,4
2,013100,2,No,NaN,3.0,2.0,2160.0,0.0,219900,"2004 Stephanie Court, Black Earth, WI",...,100683830,43.127217,-89.749306,1992.0,2004 Stephanie Court,"Black Earth, WI",2021-02-09,219900,8,8
3,013100,3,No,NaN,3.0,2.0,2160.0,0.0,219900,"2000 Stephanie Court, Black Earth, WI",...,100683440,43.127166,-89.749320,1992.0,2000 Stephanie Court,"Black Earth, WI",2021-02-09,219900,8,8
4,013200,4,No,NaN,3.0,2.0,2237.0,0.0,345000,"6430 River Road, de Forest, WI",...,100690005,43.208085,-89.361485,1960.0,6430 River Road,"de Forest, WI",2021-02-09,345000,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,000600,2150,Yes,NaN,3.0,1.5,1450.0,0.0,260500,"2419 Allied Drive, Madison, WI",...,56580541,43.026129,-89.459568,2020.0,2419 Allied Drive,"Madison, WI",2017-10-16,222760,1,1
2151,000600,2151,No,NaN,4.0,2.0,1601.0,0.0,299765,"2412 Dunns Marsh Terrace, Madison, WI",...,56662399,43.026168,-89.459025,2020.0,2412 Dunns Marsh Terrace,"Madison, WI",2017-10-16,243900,1,1
2152,000600,2152,No,NaN,4.0,2.0,1601.0,0.0,285874,"2414 Dunns Marsh Terrace, Madison, WI",...,56662398,43.026058,-89.459037,2020.0,2414 Dunns Marsh Terrace,"Madison, WI",2017-10-16,236900,1,1
2159,000600,2159,Yes,NaN,2.0,1.0,1016.0,0.0,258662,"2431 Allied Drive, Madison, WI",...,56661658,43.025770,-89.459630,2019.0,2431 Allied Drive,"Madison, WI",2017-10-16,209900,1,1
2182,012502,2182,No,NaN,5.0,4.5,6558.0,0.0,925000,"674 Inverness Street, Oregon, WI",...,52061088,42.918188,-89.415546,2004.0,674 Inverness Street,"Oregon, WI",2017-07-07,1095000,1,1

In [85]:
hs_gdf

,index,contingent,units,beds,baths,sqft,rent,list_price,address,zip,...,lats,longs,year_built,street_address,city_state,list_date,original_price,propertyType,propertyType2,point
0,0,No,NaN,3.0,2.0,1577.0,0.0,399900,"218 Sunshine Lane, Madison, WI",53593.0,...,43.058163,-89.566538,2017.0,218 Sunshine Lane,"Madison, WI",2021-02-10,399900,1,1,POINT (-89.56654 43.05816)
1,1,No,NaN,1.0,1.5,1145.0,0.0,230000,"10 Glen Brook Way #103, Fitchburg, WI",53711.0,...,43.000683,-89.423545,2009.0,10 Glen Brook Way #103,"Fitchburg, WI",2021-02-09,230000,4,4,POINT (-89.42354 43.00068)
2,2,No,NaN,3.0,2.0,2160.0,0.0,219900,"2004 Stephanie Court, Black Earth, WI",53515.0,...,43.127217,-89.749306,1992.0,2004 Stephanie Court,"Black Earth, WI",2021-02-09,219900,8,8,POINT (-89.74931 43.12722)
3,3,No,NaN,3.0,2.0,2160.0,0.0,219900,"2000 Stephanie Court, Black Earth, WI",53515.0,...,43.127166,-89.749320,1992.0,2000 Stephanie Court,"Black Earth, WI",2021-02-09,219900,8,8,POINT (-89.74932 43.12717)
4,4,No,NaN,3.0,2.0,2237.0,0.0,345000,"6430 River Road, de Forest, WI",53532.0,...,43.208085,-89.361485,1960.0,6430 River Road,"de Forest, WI",2021-02-09,345000,1,1,POINT (-89.36149 43.20808)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,2150,Yes,NaN,3.0,1.5,1450.0,0.0,260500,"2419 Allied Drive, Madison, WI",53711.0,...,43.026129,-89.459568,2020.0,2419 Allied Drive,"Madison, WI",2017-10-16,222760,1,1,POINT (-89.45957 43.02613)
2151,2151,No,NaN,4.0,2.0,1601.0,0.0,299765,"2412 Dunns Marsh Terrace, Madison, WI",53711.0,...,43.026168,-89.459025,2020.0,2412 Dunns Marsh Terrace,"Madison, WI",2017-10-16,243900,1,1,POINT (-89.45902 43.02617)
2152,2152,No,NaN,4.0,2.0,1601.0,0.0,285874,"2414 Dunns Marsh Terrace, Madison, WI",53711.0,...,43.026058,-89.459037,2020.0,2414 Dunns Marsh Terrace,"Madison, WI",2017-10-16,236900,1,1,POINT (-89.45904 43.02606)
2159,2159,Yes,NaN,2.0,1.0,1016.0,0.0,258662,"2431 Allied Drive, Madison, WI",53711.0,...,43.025770,-89.459630,2019.0,2431 Allied Drive,"Madison, WI",2017-10-16,209900,1,1,POINT (-89.45963 43.02577)
2182,2182,No,NaN,5.0,4.5,6558.0,0.0,925000,"674 Inverness Street, Oregon, WI",53575.0,...,42.918188,-89.415546,2004.0,674 Inverness Street,"Oregon, WI",2017-07-07,1095000,1,1,POINT (-89.41555 42.91819)

In [ ]:


tract_label = []
for i in range(len(df_hs)):
    for j in range(len)
    
df_hs['tract'] = tract_label

In [80]:
tract_df

       tract                                         tract_poly
0     100300  POLYGON ((-91.551804 45.98334, -91.55177500000...
1     100400  POLYGON ((-91.54248200000001 45.942204, -91.54...
2     100700  POLYGON ((-91.41978400000001 45.712484, -91.41...
3     100800  POLYGON ((-91.19872599999999 45.688821, -91.19...
4     940000  POLYGON ((-91.440022 45.812587, -91.440017 45....
...      ...                                                ...
1404  420104  POLYGON ((-88.28215299999999 43.454521, -88.28...
1405  970101  POLYGON ((-89.188697 45.838133, -89.188669 45....
1406  971001  POLYGON ((-90.04366 45.586847, -90.04365900000...
1407  970601  POLYGON ((-89.58513600000001 45.727595, -89.58...
1408  970602  POLYGON ((-89.575459 45.760171, -89.575457 45....

[1409 rows x 2 columns]